<svg-racesteer
  [compassHeading]="currentHeading()"
  [updateInterval]="runtime.options()?.updateInterval"
  [tackTrue]="tackTrue()"
  [polarSpeedRatio]="polarSpeedRatio()"
  [trueWindAngle]="trueWindAngle()"
  [trueWindSpeed]="trueWindSpeedDisplay()"
  [targetAngle]="targetAngle()"
  [optimalWindAngle]="optimalWindAngle()"
  [targetVMG]="targetVMGDisplay()"
  [targetVMGOffset]="targetVMGOffset()"
  [targetVMGRatio]="targetVMGRatio()"
  [vmgSpeedUnitSymbol]="targetVmgSpeedUnitSymbol()"
  [waypointSpeedUnitSymbol]="vmgToWaypointSpeedUnitSymbol()"
  [sailSetupEnabled]="runtime.options()?.sailSetupEnable ?? false"
  [driftEnabled]="runtime.options()?.driftEnable ?? true"
  [driftFlow]="driftFlowDisplay()"
  [driftSet]="driftSet()"
  [waypointEnabled]="runtime.options()?.waypointEnable ?? true"
  [waypointAngle]="waypointAngle()"
  [vmgToWaypoint]="vmgToWaypointDisplay() ?? 0"
  [trueWindMinHistoric]="trueWindMinHistoric()"
  [trueWindMidHistoric]="trueWindMidHistoric()"
  [trueWindMaxHistoric]="trueWindMaxHistoric()"
  [gradianColor]="gradianColor()"
></svg-racesteer>
